body {
  font-family: sans-serif;
  font-size: 18px;
  border-bottom: 5px solid #222222;
  border-top: 5px solid #222222;
  margin: 30px;
  padding: 50px;
  background: #F6F6F6;
}

header {
  text-align: center;
}
